$tile-border: 0.5rem;
$tile-size: 2rem;
$tile-and-border-size: calc($tile-size + 2 * $tile-border);
$num-tiles-per-row: 11;
$row-width: calc($tile-and-border-size * $num-tiles-per-row);

%tile-base {
  border: $tile-border solid;
  width: $tile-size;
  height: $tile-size;
}

.row {
  display: flex;
  flex-direction: row;
  height: $tile-and-border-size;
}

.preview {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $row-width;
}

/* Free (non-wall) tile, and also the background tile behind all other tiles. */
.background-tile {
  display: inline-block;

  @include colored-tile(#ddf, -20%);
}

.preview-tile {
  display: inline-block;

  @include colored-tile(#faa, -20%);
}

.tile {
  display: block;
  margin: -$tile-border;

  &.wall {
    @include colored-tile(#aaa, -60%, 0%);
  }

  &.block {
    position: relative;

    &.yellow {
      @include colored-tile(#dd5);
    }

    &.teal {
      @include colored-tile(#4cc);
    }

    &.purple {
      @include colored-tile(#d6d);
    }

    &.orange {
      @include colored-tile(#d90);
    }

    &.blue {
      @include colored-tile(#77f);
    }

    &.green {
      @include colored-tile(#5b5);
    }

    &.red {
      @include colored-tile(#d55);
    }
  }
}
