$tile-border: 0.5rem;
$tile-size: 2rem;
$tile-and-border-size: calc($tile-size + 2 * $tile-border);

// Must correspond to config.gameWidth and config.gameHeight
$num-rows: 15;
$num-tiles-per-row: 11;

$column-height: calc($tile-and-border-size * $num-rows);
$row-width: calc($tile-and-border-size * $num-tiles-per-row);

$preview-size-multiplier: 1.25;
$preview-tile-size: calc($preview-size-multiplier * $tile-size);
$preview-border-size: calc($preview-size-multiplier * $tile-border);
$preview-tile-and-border-size: calc(
  $preview-size-multiplier * $tile-and-border-size
);

%tile-base {
  border: $tile-border solid;
  width: $tile-size;
  height: $tile-size;
}
%preview-tile-base {
  border: $preview-border-size solid transparent;
  background-color: transparent;
  width: $preview-tile-size;
  height: $preview-tile-size;
}

.row {
  display: flex;
  flex-direction: row;
  height: $tile-and-border-size;

  &.preview {
    height: $preview-tile-and-border-size;
  }
}

.preview-backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: $tile-and-border-size;
  height: calc($column-height - $tile-and-border-size);
  width: calc($row-width - 2 * $tile-and-border-size);
  z-index: 10;
}

.preview-space {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $row-width;
  z-index: 20;
}

/* Free (non-wall) tile, and also the background tile behind all other tiles. */
.background-tile {
  display: inline-block;

  @include colored-tile(#ddf, -20%);
}

.preview-tile {
  display: inline-block;

  @extend %preview-tile-base;
}

.tile {
  display: block;
  margin: -$tile-border;

  &.wall {
    @include colored-tile(#999, -60%, 0%);
  }

  &.decaying {
    @include colored-tile(#fff, -80%, 0%);
    @include keyframes(decay) {
      0% {
        opacity: 1;
      }
      45% {
        opacity: 0.8;
      }
      55% {
        opacity: 0.2;
      }
      100% {
        opacity: 0;
      }
    }
    @include animate(decay, 0.25s, linear, infinite);
  }

  &.block {
    position: relative;

    &.yellow {
      @include colored-tile(#dd5);
    }

    &.teal {
      @include colored-tile(#4cc);
    }

    &.purple {
      @include colored-tile(#d6d);
    }

    &.orange {
      @include colored-tile(#d90);
    }

    &.blue {
      @include colored-tile(#77f);
    }

    &.green {
      @include colored-tile(#5b5);
    }

    &.red {
      @include colored-tile(#d55);
    }

    &.preview {
      @extend %preview-tile-base;
    }
  }
}
